<section>
  <div>
    <h1><span>22 Jobs</span> Available Right Now</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolor
      assumenda eligendi rem ipsam accusantium neque adipisci, voluptatum,
      consequuntur voluptatem deserunt animi eveniet quasi, nesciunt ullam
      dolore. Vel, autem voluptatem.
    </p>
    <div class="job-filter-wrapper">
      <select name="" id="">
        <option value="Software developer">Software developer</option>
        <option value="Software developer">Software developer</option>
        <option value="Software developer">Software developer</option>
      </select>
      <select name="" id="">
        <option value="onsite">onsite</option>
        <option value="onsite">hybrid</option>
        <option value="onsite">remote</option>
      </select>
      <button>search</button>
    </div>
  </div>
</section>
