.job-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.job-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.job-card-header h2 {
  font-size: 24px;
  margin: 0;
}

.job-type {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.job-card-body {
  padding: 10px 0;
}

.job-card-body h3 {
  font-size: 20px;
  margin: 0;
}

.job-location {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.job-description {
  font-size: 16px;
  color: #333;
}
.see-more-button {
  color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.see-more-button:hover {
  color: #0056b3;
}

.job-card-footer {
  display: flex;
  justify-content: flex-end;
}

.apply-button {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.apply-button:hover {
  background-color: #218838;
}
